body{
    font-family: 'Poppins', sans-serif;
}
.img-opacity{
    filter: brightness(40%);
}
.fs-vw{
    font-size: 5vw;
}
.ptop-1{
    padding: 100px 0px;
}
.orange{
    color: orange;
}
.gray{
    color: rgb(186, 184, 184);
}
.bg-gray{
    background-color: rgb(71, 71, 71);
}